/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}


nav{
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  padding: 20px 0%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.navbar{
  background-color: rgba(189, 97, 97, 0.833);
}*/

nav .logo{
  width: 250px;
  height: auto;
  left: 0;

}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  transition: 0.5s;
  font-weight: bold;
  
}
nav ul li a:hover{
  color: #38761d;
  text-decoration:underline
}